<div class="task-container">
  <h1>Task Tracker</h1>
  <button (click)="addTask()">Add Random Task</button>

  @if (tasks.length === 0) {
  <p>No tasks available.</p>
  } @else {
  <ul>
    @for (task of tasks; track task.id) {
    <a [routerLink]="['/tasks', task.id]" class="task-item">
      <li>
        <strong>{{ task.name }}</strong>

        <br />
        <small>
          📅 <span class="lit">{{ task.date | localizedDate }}</span> | 🕒
          <span class="eng">{{ task.date | date : "shortTime" }}</span>
        </small>
      </li>
    </a>
    }
  </ul>
  }
</div>
